@media only screen and (max-width: 600px) {
    .sticky {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 20px;
        margin-bottom: 25px;
        text-align: right;
        z-index: 1000;
        background-color: #DE9E48;
        /* Set background color for the entire sticky element */
    }

    .sticky:hover {
        opacity: 50%;
    }

    .sticky-content {
        display: flex;
        /* Use flexbox to align items horizontally */
        align-items: center;
        /* Center items vertically within the flex container */
    }

    .sticky-content a {
        text-decoration: none;
        /* Remove underline from the anchor tag */
        color: white;
        /* Set text color */
        display: flex;
        /* Use flexbox to align items horizontally within the anchor */
    }

    .sticky h1 {
        font-size: 10px;
        padding: 5px;
        /* Combine padding-top and padding-bottom into a shorthand */
        margin-right: 10px;
        /* Add spacing between text and icon */
        margin-left: 20px;
    }

    .sticky img {
        height: 20px;
        /* Adjust the height of the image as needed */
        margin-top: 10px;
        margin-right: 20px;
    }

    .bgIntro {
        background-color: #372C2E;
        height: 450px;
        display: flex;
        justify-content: center;
    }

    .bgIntro img {
        width: 300px;
        height: 450px;
        margin-right: 350px;
    }

    .introName {
        color: white;
        position: absolute;
        left: 35%;
        top: 30%;
    }

    .introName h1 {
        font-size: 30px;
    }

    .introName p {
        font-size: 15px;
        font-style: "italic";
    }

    .bio {
        background-image: url('./../../public/Images/pattern-2.png');
        background-size: cover;
        background-position: center;
        transform: scaleY(-1);
    }

    .bio-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center items horizontally within the flex container */
        transform: scaleY(-1);
    }

    .bio-container p {
        font-size: 11px;
        margin-bottom: 60px;
        font-weight: bold;
    }

    .bio-container img {
        width: 100px;
        height: auto;
        margin: auto 0;
        border-style: solid;
        border-width: 3px;
        border-color: #563727;
        margin-top: 80px;
    }

    .content {
        background-image: url('./../../public/Images/bg-wood.jpg');
        background-size: cover;
        background-attachment: fixed;
        /* Set the background to be fixed during scrolling */
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .imageContainer {
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
    }

    .imageContainer img {
        height: 30px;
        width: 30px;
    }

    .footer {
        background-color: #563727;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-logo {
        order: 1;
        margin-bottom: 20px;
    }

    .footer-logo img {
        width: 200px;
        height: auto;
        margin-left: 0;
    }

    .socialMediaIcons {
        display: flex;
        order: 0;
        padding-top: 50px;
        margin-left: 10px;
    }

    .socialMediaIcons img {
        width: 20px;
        height: auto;
        margin-right: 15px;
    }

    .bodyContent {
        text-align: center;
        /* Center align the cards within the section */
    }

    .worksTitle {
        text-align: center;
        /* Align the work title in the center */
        margin-top: 100px;
        margin-bottom: 40px;
        /* Add margin for spacing */
        color: #563727;
        font-size: 10px;
    }

    .works {
        display: flex;
        justify-content: center;
        /* Center align the cards */
        flex-direction: column;
    }

    .workCard {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 100px;
        text-align: center;
        /* Center align the content within the card */
    }

    .workCard {
        margin-right: 40px;
        margin-left: 40px;
    }

    .workCard p {
        text-align: center;
        font-weight: bolder;
        font-size: 15px;
        color: #563727;
    }

    .workCard:first-child {
        margin-left: 40px;
    }

    .workCard:last-child {
        margin-right: 40px;
    }

    .workCard img {
        max-width: 100%;
        /* Make the image responsive within the container */
        height: auto;
        display: block;
        margin: 0 auto;
        /* Center the image horizontally within the card */
    }

    .workArea {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .worktext p {
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .recentCard {
        border: 1px solid #ccc;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 100px;
        margin-top: 100px;
        justify-content: center;
    }

    .recentCard img {
        height: auto;
        width: 350px;
    }

    .viewButton {
        text-align: center;
        margin-bottom: 100px;
    }

    .viewButton Button {
        border: 1px;
        border-width: 2px;
        border-style: solid;
        padding: 10px;
        border-color: #563727;
        color: #563727;
        font-weight: bold;
        text-decoration: none;
        font-size: small;
    }

    /*CONTACT EMAIL*/
    .contactMeArea {
        display: flex;
        display: flex;
        background-image: url('./../../public/Images/desk.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;background-color: #372C2E;
        justify-content: center;
    }

    .contact-card {
        background-color: white;
        width: 600px;
        margin: 50px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-card h1 {
        text-align: center;
        font-weight: bolder;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: auto;
        padding-bottom: 80px;
      }
      
      .input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
      }
      
      input,
      textarea {
        width: 250px;
        padding: 8px;
        box-sizing: border-box;
        border-color: #372C2E ;
      }
      
      .message-label {
        margin-top: 20px;
        text-align: center;
      }
      
      button {
        background-color: white;
        color: #372C2E;
        padding: 10px 15px;
        border: solid;
        border-width: 1px;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        align-self: center;
        width: 150px;
      }
      
      button:hover {
        background-color: #372C2E;
        color: white;
        font-weight: bold;
      }

      /*QUOTE*/
      .quote {
        background-color: #DE9E48;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        font-size: 10px;
        color: #372C2E;
      }

      /*BACK TO TOP*/
      #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 100px; /* Place the button at the bottom of the page */
        right: 0px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: #DE9E48; /* Set a background color */
        width: 50px;
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        font-size: 10px; /* Increase font size */
        justify-content: center;
      }
      
      #myBtn:hover {
        opacity: 50%;
      }

      #myBtn img {
        width: 24px;
        height: auto;
      }
}